/* ######################### Start Global Sections #########################  */
* {
    margin: 0;
    padding: 0;     
} 
/* ######################### Start animationPageLogo Page ######################### */
/* ===== Start animationPageLogo ===== */
.animationPageLogo {
    position: absolute;
    width: 100%;    height: 100%;
}

.animationPageLogo .logoSplitedImages { 
    padding: 100px 220px 150px;
}

.animationPageLogo .logoSplitedImages img:nth-child(1) {
    width: 370px;
    height: 250px;
    /* animation: eliteImgAnimate 2s alternate infinite ease-in-out; */
}

/* @keyframes eliteImgAnimate {
    0% {
        -webkit-transform: translate(-30px , -40px);
            -moz-transform: translate(-30px , -40px);
                -o-transform: translate(-30px , -40px);
                    -ms-transform: translate(-30px , -40px);
                        transform: translate(-30px , -40px);
    }
} */

.animationPageLogo .logoSplitedImages img:nth-child(2) {
    width: 200px;
    height: 18px;
    margin: 270px 0 0 60px;
    /* animation: fancyFoodImgAnimate 2s alternate infinite ease-in-out; */
}

/* @keyframes fancyFoodImgAnimate {
    0% {
        -webkit-transform: translate(-50px , 0px);
            -moz-transform: translate(-50px , 0px);
                -o-transform: translate(-50px , 0px);
                    -ms-transform: translate(-50px , 0px);
                        transform: translate(-50px , 0px);
    }    
} */

.animationPageLogo .logoSplitedImages img:nth-child(3) {
    width: 70px;
    height: 60px;
    margin: 235px 0 0 359px;
    /* animation: fancyLeafsImgAnimate 2s alternate infinite ease-in-out; */
}

/* @keyframes fancyLeafsImgAnimate {
    0% {
        -webkit-transform: translate(30px , 0px);
            -moz-transform: translate(30px , 0px);
                -o-transform: translate(30px , 0px);
                    -ms-transform: translate(30px , 0px);
                        transform: translate(30px , 0px);
    }
} */

.animationPageLogo .logoSplitedImages img:nth-child(4) {
    width: 40px;
    height: 30px;
    margin: 85px 0 0 -185px;
    /* animation: fancyGreenLeafImgAnimate 2s alternate infinite ease-in-out; */
}

/* @keyframes fancyGreenLeafImgAnimate {
    0% {
        -webkit-transform: translate(10px , 50px);
            -moz-transform: translate(10px , 50px);
                -o-transform: translate(10px , 50px);
                    -ms-transform: translate(10px , 50px);
                        transform: translate(10px , 50px);
    }
}  */

.animationPageLogo .logoSplitedImages img:nth-child(5) {
    margin: -20px 0 0 115px;
    width: 20px;
    height: 20px;
    /* animation: fancyDotImgAnimate 2s alternate infinite ease-in-out; */
}

/* @keyframes fancyDotImgAnimate {
    0% {
        -webkit-transform: translate(30px , -100px);
            -moz-transform: translate(30px , -100px);
                -o-transform: translate(30px , -100px);
                    -ms-transform: translate(30px , -100px);
                        transform: translate(30px , -100px);
    }
} */

.animationPageLogo .brandsIcons {
    padding: 50px 0;
}

.animationPageLogo .brandsIcons .imageDiv {
    padding: 0 10px;
}

.animationPageLogo .brandsIcons .imageDiv img {
    height: 120px;
    transition: 0.3s ease-in-out;
}

.animationPageLogo .brandsIcons .imageDiv img:hover {
    transform: rotate(20deg);
}

.animationPageLogo .skipBtn {
    padding: 10px 70px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background:#007C39;
    transition: 0.3s ease-in-out;
}

.animationPageLogo .skipBtn:hover {
    padding: 10px 100px;
    box-shadow: 0 0 20px #007C39;
}
/* ===== End animationPageLogo ===== */
/* ######################### End animationPageLogo Page ######################### */

/* ################ Large devices (desktops, less than 1200px) ################ */
@media (max-width: 1199.98px) {
}

/* ################ Medium devices (tablets, less than 992px) ################ */
@media(max-width: 991.98px) {
    .animationPageLogo .brandsIcons .imageDiv img {
        height: 100px;
    }
}

/* ################ Small devices (landscape phones, less than 768px) ################ */
@media (max-width: 767.98px) { 
    .animationPageLogo .logoSplitedImages {
        padding: 70px 220px 120px;
    }
    
    .animationPageLogo .logoSplitedImages img:nth-child(1) {
        width: 300px;
        height: 180px;
    }
    
    /* @keyframes eliteImgAnimate {
        0% {
            -webkit-transform: translate(-30px , -30px);
                -moz-transform: translate(-30px , -30px);
                    -o-transform: translate(-30px , -30px);
                        -ms-transform: translate(-30px , -30px);
                            transform: translate(-30px , -30px);
        }
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(2) {
        width: 180px;
        height: 15px;
        margin: 205px 0 0 40px;
    }
    
    /* @keyframes fancyFoodImgAnimate {
        0% {
            -webkit-transform: translate(-50px , 0px);
                -moz-transform: translate(-50px , 0px);
                    -o-transform: translate(-50px , 0px);
                        -ms-transform: translate(-50px , 0px);
                            transform: translate(-50px , 0px);
        }    
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(3) {
        width: 55px;
        height: 50px;
        margin: 174px 0 0 290px;
    }
    
    /* @keyframes fancyLeafsImgAnimate {
        0% {
            -webkit-transform: translate(20px , 0px);
                -moz-transform: translate(20px , 0px);
                    -o-transform: translate(20px , 0px);
                        -ms-transform: translate(20px , 0px);
                            transform: translate(20px , 0px);
        }
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(4) {
        width: 40px;
        height: 20px;
        margin: 65px 0 0 -153px;
    }
    
    /* @keyframes fancyGreenLeafImgAnimate {
        0% {
            -webkit-transform: translate(10px , 40px);
                -moz-transform: translate(10px , 40px);
                    -o-transform: translate(10px , 40px);
                        -ms-transform: translate(10px , 40px);
                            transform: translate(10px , 40px);
        }
    }  */
    
    .animationPageLogo .logoSplitedImages img:nth-child(5) {
        margin: -15px 0 0 95px;
        width: 16px;
        height: 16px;
    }
    
    /* @keyframes fancyDotImgAnimate {
        0% {
            -webkit-transform: translate(30px , -60px);
                -moz-transform: translate(30px , -60px);
                    -o-transform: translate(30px , -60px);
                        -ms-transform: translate(30px , -60px);
                            transform: translate(30px , -60px);
        }
    } */

    .animationPageLogo .brandsIcons {
        padding: 30px 0;
    }

    .animationPageLogo .brandsIcons .imageDiv img {
        height: 100px;
        margin: 10px 0;
    }

    .animationPageLogo .skipBtn {
        padding: 10px 60px;
        font-size: 18px;
    }
    
    .animationPageLogo .skipBtn:hover {
        padding: 10px 80px;
    }
}

/* ################ Extra small devices (portrait phones, less than 576px) ################ */
@media (max-width: 575.98px) { 
    .animationPageLogo .logoSplitedImages {
        padding: 50px 100px 80px;
    }
    
    .animationPageLogo .logoSplitedImages img:nth-child(1) {
        width: 240px;
        height: 120px;
    }
    
    /* @keyframes eliteImgAnimate {
        0% {
            -webkit-transform: translate(-10px , -30px);
                -moz-transform: translate(-10px , -30px);
                    -o-transform: translate(-10px , -30px);
                        -ms-transform: translate(-10px , -30px);
                            transform: translate(-10px , -30px);
        }
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(2) {
        width: 160px;
        height: 15px;
        margin: 145px 0 0 10px;
    }
    
    /* @keyframes fancyFoodImgAnimate {
        0% {
            -webkit-transform: translate(-20px , 0px);
                -moz-transform: translate(-20px , 0px);
                    -o-transform: translate(-20px , 0px);
                        -ms-transform: translate(-20px , 0px);
                            transform: translate(-20px , 0px);
        }    
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(3) {
        width: 50px;
        height: 40px;
        margin: 121px 0 0 237px;
    }
    
    /* @keyframes fancyLeafsImgAnimate {
        0% {
            -webkit-transform: translate(10px , 0px);
                -moz-transform: translate(10px , 0px);
                    -o-transform: translate(10px , 0px);
                        -ms-transform: translate(10px , 0px);
                            transform: translate(10px , 0px);
        }
    } */
    
    .animationPageLogo .logoSplitedImages img:nth-child(4) {
        width: 30px;
        height: 17px;
        margin: 50px 0 0 -120px;
    }
    
    /* @keyframes fancyGreenLeafImgAnimate {
        0% {
            -webkit-transform: translate(0px , 20px);
                -moz-transform: translate(0px , 20px);
                    -o-transform: translate(0px , 20px);
                        -ms-transform: translate(0px , 20px);
                            transform: translate(0px , 20px);
        }
    }  */
    
    .animationPageLogo .logoSplitedImages img:nth-child(5) {
        margin: -10px 0 0 75px;
        width: 12px;
        height: 12px;
    }
    
    /* @keyframes fancyDotImgAnimate {
        0% {
            -webkit-transform: translate(0px , -40px);
                -moz-transform: translate(0px , -40px);
                    -o-transform: translate(0px , -40px);
                        -ms-transform: translate(0px , -40px);
                            transform: translate(0px , -40px);
        }
    } */

    .animationPageLogo .brandsIcons .imageDiv img {
        margin: 10px 0px;
        height: 80px;
    }

    .animationPageLogo .skipBtn {
        padding: 7px 50px;
        font-size: 18px;
    }
    
    .animationPageLogo .skipBtn:hover {
        padding: 7px 70px;
    }
}






